

<div class="p-4 my-4 bg-white shadow-sm rounded-md border">

    <header class="flex justify-between px-8 pt-8 pb-2">
        <div>                
            <h1 class="text-4xl font-semibold text-gray-700">Pending Trades</h1>
            <p class="text-gray-400 text-lg py-2">Monitor all pending trades</p>
        </div>
        <div>
            <div class="w-10 h-10 flex justify-center items-center rounded-lg border border-gray-300 text-gray-600">
                <fa-icon class="text-[#150050]" [icon]="iconBell"/>
            </div>
        </div>
    </header>


    <h1 class="text-gray-500 text-xl font-medium"> Trades </h1>
    <div class="mt-2 mb-8 mx-4 w-10 h-[1px] bg-gray-300 rounded-lg"></div>
    <table class="w-full text-left text-sm">
        <thead>
            <tr class="bg-gray-100 border-y border-gray-300 text-gray-600 uppercase">
                <th class="px-5 py-2 border-b bg-gray-50">Created At</th>
                <th class="px-5 py-2 border-b bg-gray-50">Client Id</th>
                <th class="px-5 py-2 border-b bg-gray-50">Product</th>
                <th class="px-5 py-2 border-b bg-gray-50">Quantity</th>
                <th class="px-5 py-2 border-b bg-gray-50">Price</th>
                <th class="px-5 py-2 border-b bg-gray-50">Side</th>
                <th class="px-5 py-2 border-b bg-gray-50">Type</th>
                <th class="px-5 py-2 border-b bg-gray-50">Is Multi Leg</th>
            </tr>
        </thead>
        <tbody class="text-gray-600 font-semibold">
            <tr class="even:bg-gray-50 hover:bg-gray-100 cursor-pointer border-b border-gray-100 last:border-gray-300"
            *ngFor="let trade of pendingOrders">

                <td class="p-2 border-b text-gray-500">{{trade.timestamp}}</td>
                <td class="p-2 border-b text-gray-500">{{trade.clientId}}</td>
                <td class="p-2 border-b text-gray-500">{{trade.product}}</td>
                <td class="p-2 border-b text-gray-500">{{trade.quantity}}</td>
                <td class="p-2 border-b text-gray-500">{{trade.price}}</td>
                <td class="p-2 border-b text-gray-500">{{trade.side}}</td>
                <td class="p-2 border-b text-gray-500">{{trade.type}}</td>
                <td class="p-2 border-b text-gray-500">{{ trade.isMultiLeg ?"True":"False" }}</td>
                
               
            </tr>
        </tbody>
    </table>
    <footer class="p-4 text-center">
        <span class="text-gray-400 text-xs font-light">SG Saga Trading</span>
    </footer>
</div>