<div class="w-full h-screen flex flex-col bg-gray-50">
    <header class="flex justify-between px-8 pt-8 pb-2">
        <div>                
            <h1 class="text-4xl font-semibold text-[#150050]">Clients Details</h1>
            <p class="text-gray-400 text-lg py-2">Monitor all clients details</p>
        </div>
        <div class="flex items-center">   
            <label for="simple-search" class="sr-only">Search</label>
            <div class="relative w-full">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <input (change)="onChange($event)" type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for client" required>
            </div>
            <button type="submit" (click)="search()" class="p-2.5 ml-2 text-sm font-medium text-white bg-[#150050] rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                <span class="sr-only">Search</span>
            </button>
        </div>
        <div>
            <div class="w-10 h-10 flex justify-center items-center rounded-lg border border-gray-300 text-gray-600">
                <fa-icon class="text-[#150050]" [icon]="iconBell"/>
            </div>
        </div>     
    </header>
    
    <div class="p-4 my-4 bg-white shadow-sm rounded-md border">
        <h1 class="text-gray-500 text-xl font-medium">Clients</h1>
        <div class="mt-2 mb-8 mx-4 w-10 h-[1px] bg-gray-300 rounded-lg"></div>
        <table class="w-full text-left text-sm">           
            <thead>
                <tr class="bg-gray-100 border-y border-gray-300 text-gray-600 uppercase">
                    <th class="px-5 py-2 border-b bg-gray-50">ID</th>
                    <th class="px-5 py-2 border-b bg-gray-50">Firstname</th>
                    <th class="px-5 py-2 border-b bg-gray-50">LastName</th>
                    <th class="px-5 py-2 border-b bg-gray-50">Email</th>
                    <th class="px-5 py-2 border-b bg-gray-50">DefaultPortfolioId</th>
                    <th class="px-5 py-2 border-b bg-gray-50">AccountId</th>
                    <th class="px-5 py-2 border-b bg-gray-50">Action</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 font-semibold">
                <tr class="even:bg-gray-50 hover:bg-gray-100 cursor-pointer border-b border-gray-100 last:border-gray-300"
                    *ngFor="let client of clients">
                    <td class="p-5 border-b text-gray-500">{{client.id}}</td>
                    <td class="p-5 border-b text-gray-500">{{client.firstName}}</td>
                    <td class="p-5 border-b text-gray-500">{{client.lastName}}</td>
                    <td class="p-5 border-b text-gray-500">{{client.email}}</td>
                    <td class="p-5 border-b text-gray-500">{{client.defaultPortfolioId}}</td>
                    <td class="p-5 border-b text-gray-500">{{client.accountId}}</td>
                    <td>
                        <button class="btn btn-sm btn-info" (click)="viewPortfolios(client.id, client.firstName, client.lastName)">
                          <i class="fa fa-search"></i>View Portfolios
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="p-4 text-center">
        <span class="text-gray-400 text-xs font-light">SG Saga Trading</span>
    </footer>
</div>